/*** Tag Selectors   **/
body {
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  font-size: 15px;
  color: #a3a5ae;
  text-align: left;
}

h1 {
  color: #40514E;
}

h2 {
  color: #40514E;
  text-align: left;
  font-size: 17px;
  font-weight: bold;
}

/*** Class selectors ***/
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

.cards {
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: center;
}

.cards2 {
display: flex;
flex-direction: column;
flex-wrap: wrap;
}

.head-text-1 {
  margin: 3% auto auto auto;
  font-size: 45px;
  font-weight: lighter;
  text-align: center;
}

.head-text-2 {
  margin: auto auto 5% auto;
  font-size: 45px;
  text-align: center;
  font-weight: bold;
}

.image {
  text-align: right;
}

.table-1 {
  display: inline-block;
  margin: 10px;
  padding: 30px;
  width: 300px;
  height: 200px;
  border-top-style: solid;
  border-top-width: 3px;
  border-top-color: cyan;
  border-radius: 5px;
  box-shadow: 20px 20px 50px lightgrey;
}

.table-2 {
  display: inline-block;
  margin: 10px;
  padding: 30px;
  width: 300px;
  height: 200px;
  border-top-style: solid;
  border-top-width: 3px;
  border-top-color: red;
  border-radius: 5px;
  box-shadow: 20px 20px 50px lightgrey;
}

.table-3 {
  display: inline-block;
  margin: 10px;
  padding: 30px;
  width: 300px;
  heigth: 200px;
  border-top-style: solid;
  border-top-width: 3px;
  border-top-color: yellow;
  border-radius: 5px;
  box-shadow: 20px 20px 50px lightgrey;
}

.table-4 {
  display: inline-block;
  margin: 10px;
  padding: 30px;
  width: 300px;
  height: 200px;
  border-top-style: solid;
  border-top-width: 3px;
  border-top-color: blue;
  border-radius: 5px;
  box-shadow: 20px 20px 50px lightgrey;
}

/***
## Colors

### Primary

- Red: hsl(0, 78%, 62%)
- Cyan: hsl(180, 62%, 55%)
- Orange: hsl(34, 97%, 64%)
- Blue: hsl(212, 86%, 64%)

### Neutral

- Very Dark Blue: hsl(234, 12%, 34%)
- Grayish Blue: hsl(229, 6%, 66%)
- Very Light Gray: hsl(0, 0%, 98%)

## Typography

### Body Copy

- Font size: 15px

### Fonts

- Family: [Poppins](https://fonts.google.com/specimen/Poppins)
- Weights: 200, 400, 600
***/
